import { cn } from '@/lib/utils'

import Wrap from '@/ui/layout/wrap'

import styles from './{{camelCase name}}.module.scss'

export default function {{properCase name}}({ wrapIt = true}: Sanity.{{camelCase name}}Block ) {
    return (
        <Wrap wrapIt={wrapIt}>
            <div className={cn(styles.{{camelCase name}})}>Welcome, {{name}}!</div>
        </Wrap>
    )
}
