import { cn } from '@/lib/utils'

import styles from './{{camelCase name}}.module.scss';

export default function {{properCase name}}({}:Model.{{properCase name}} ) {
    return <div className={cn(styles.{{camelCase name}})}>Welcome, {{name}}!</div>
}
